<div class="container color-dark">
  <div class="col">
    <p>Add a task</p>
  </div>
  <div class="col">
    <p>Task List ({{itemCount}})</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use this form below to add a new task</p>

    <form action="">
      <input type="text" class="txt" placeholder="Task">
      <input type="submit" class="btn" value="{{btnText}}">
    </form>
  </div>
  <div class="col">
    <p class="task-container">
      My first task
    </p>
  </div>
</div>
