<div class="container color-dark">
  <div class="col">
    <p>Add a task</p>
  </div>
  <div class="col">
    <p>Task List ({{itemCount}})</p>
  </div>
</div>
<div class="container color-light" [@tasks]="tasks.length">
  <div class="col">
    <p class="sm">Use this form below to add a new task</p>

    <form>
      <input type="text" class="txt" name="task" placeholder="Task" [(ngModel)]="taskText">
      <input type="submit" class="btn" [value]="btnText" (click)="addTask()">
    </form>
  </div>
  <div class="col">
    <p class="task-container" *ngFor="let task of tasks, let i = index" (click)="removeTask(i)">
      {{ task }}
    </p>
  </div>
</div>
