<div class="container color-dark">
  <div class="col">
    <p>Add a user</p>
  </div>
  <div class="col">
    <p>User List</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Fill this form</p>

    <form action="">
      <input type="text" class="txt" placeholder="User name">
      <input type="password" class="txt" placeholder="Password">
      <input type="submit" class="btn" value="Add User">
    </form>
  </div>
  <div class="col">
    <p class="user-container">
      batefirok
    </p>
  </div>
</div>

